html,body
{
margin:0px;
height:100%;
font-family:Verdana;
font-size:14px;
}
#menu
{
float:left;
width:15%;
height:100%;
text-align:center;
background-color:#ffffff;
}
#menu a
{
color:#E58A00;
margin-left:10px;
}
#main
{
width:83%;
margin:10px 0px 0px 10px;
float:left;
background-color:#FEA501;
border-left:1px solid #E58A00;
border-radius:10px;
}
#main #user
{
height:25px;
width:100%;
border-radius:10px;
background-color:#E58A00;
}
#main #user span
{
float:right;
margin:4px 10px;
font-family:Verdana;
font-size:12px;
}
#logo
{
width:100%;
}
#content
{
padding:10px;
}
#content hr
{
border:1px dashed #E58A00;
}
#content p
{
background-color:#E58A00;
padding:7px;
border-radius:7px;
}
