html,body
{
margin:0px;
height:100%;
font-family:Verdana;
font-size:14px;
}
#menu
{
float:left;
width:210px;
height:100%;
text-align:center;
background-color:#ffffff;
}
#menu a
{
font-size:13px;
line-height:20px;
text-decoration:none;
border-bottom:1px dashed #E58A00;
color:#FEA501;
margin-left:10px;
}
#menu a:hover
{
border-bottom:1px dotted #E58A00;
color:#E58A00;
}
#main
{
width:83%;
margin:10px 0px 0px 10px;
float:left;
background-color:#FEA501;
border-left:1px solid #E58A00;
border-radius:10px;
}
#main #user
{
height:25px;
width:100%;
border-radius:10px;
background-color:#E58A00;
}
#main #user span
{
float:right;
margin:4px 10px;
font-family:Verdana;
font-size:12px;
}
#logo
{
width:100%;
}
#content
{
padding:10px;
}
#content hr
{
border:1px dashed #E58A00;
}
#content p
{
background-color:#E58A00;
padding:5px;
width:100%;
margin-left:-5px;
border-radius:7px;
}
#modules div
{
padding:5px 5px 0px 5px;
}
legend
{
padding:0px 5px;
}
fieldset
{
border:1px double #E58A00;
border-radius:7px;
margin-bottom:10px;
}
.hover
{
background-color:#E58A00;
border-radius:7px;
}
